#previewBox {
    scrollbar-width: none;
    overflow-x: visible;
    overflow-y: scroll;
    box-shadow: 10px 10px 15px rgba(0,0,0,.05),
                -10px -10px 15px rgba(0,0,0,.05);
    width: 66%;
    max-width: calc((100vh - 105px)/2.11);
    height: calc(100vh - 105px);
    border-radius: 5px;
    background-color: var(--bg-color);
    position: absolute;
    top: 90px;
    left: 66%;
    transform: translateX(-50%);
}
#previewBox::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
// PreviewBox Navbar
.navbar {
    transform: translateX(-50%);
    min-width: calc((100vh - 105px)/2.11) !important;
    top: 90px;
    left: 66%;
    max-width: calc((100vh - 105px)/2.11);
}

.editableImage {
    cursor: pointer;
    position: relative;
}
.editableImage:hover #bannerImage {
    filter: brightness(0.5);
}
.editableImage:hover .editButton {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Edit Image Buttons */
.editButton {
    opacity: 0;
    mask-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/edit.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, opacity 0.3s ease;
}

.headerPillSelector {
    max-width: calc(100% - 41px) !important;
}

/* Edit Tabs Button */
#editTabsButton {
    font-size: 0;
    text-align: right;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/edit.svg);
    width: calc(100% + 41px);
    max-width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -33px;
    color: rgba(0,0,0,0);
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-radius: 100px;
    padding: 9px;
    background-color: var(--tint-color);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
}
#editTabsButton:hover {
    font-size: 12pt;
    border-radius: 0;
    max-width: calc(100% + 36px);
    background-position: calc(100% - 15px) center;
    height: auto;
    color: white;
    right: -36px;
    padding-right: 50px;
    padding-left: 15px;
}

// Add View Button
.addViewButton {
    position: relative;
    opacity: 0.4;
    cursor: pointer;
    margin: 10px auto;
    width: calc(100% - 15px);
    height: 22px;
    border-radius: 5px;
    border-color: rgba(0,0,0,0);
    border-width: 2px;
    border-style: dashed;
    transition: height 0.3s ease, border-color 0.3s ease;
    -webkit-transition: height 0.3s ease, border-color 0.3s ease;
    -moz-transition: height 0.3s ease, border-color 0.3s ease;
    -o-transition: height 0.3s ease, border-color 0.3s ease;
    -ms-transition: height 0.3s ease, border-color 0.3s ease;

    div {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        background-color: var(--text-color);
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-image: url(../img/add.svg);
        -webkit-mask-image: url(../img/add.svg);
        transition: width 0.3s ease, height 0.3s ease;
        // -webkit-transition: mask-size 0.3s ease;
        // -moz-transition: mask-size 0.3s ease;
        // -o-transition: mask-size 0.3s ease;
        // -ms-transition: mask-size 0.3s ease;
    }
}
.addViewButton:hover {
    opacity: 1;
    border-color: var(--tint-color);
    height: 100px;

    div {
        background-color: var(--tint-color);
        width: 25px;
        height: 25px;
    }
}