#sidebar {
    display: table;
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    border-radius: 15px 0 0 15px;
    padding: 25px;
    box-sizing: border-box;
    height: calc(100% - 55px);
    max-height: 750px;
    width: calc(100% - ((100vh - 120px)/2.11));
    background: linear-gradient(to bottom right, rgba(85, 150, 191, .9), rgba(70, 105, 175, .9));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    #logo {
        width:125px;
        float: left;
    }

    #sidebarButtons {
        padding-bottom: 5px;
        position: absolute;
        top: 25px;
        right: 25px;
        height: 45px;
        white-space: nowrap;

        div {
            float: right;
            white-space: nowrap;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .sidebarButton {
            overflow: hidden;
            height: 42px;
            line-height: 42px;
            cursor: pointer;
            box-sizing: border-box;
            font-size: 0;
            font-weight: 600;
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 45px;
            padding-right: 0;
            color: rgba(0,0,0,0);
            background-repeat: no-repeat;
            background-size: 27px;
            background-position: 10px center;
            border-radius: 10px;
            transition: font-size 0.3s ease, padding-right 0.3s ease, color 0.3s ease;
                -webkit-transition: font-size 0.3s ease, padding-right 0.3s ease, color 0.3s ease;
                -moz-transition: font-size 0.3s ease, padding-right 0.3s ease, color 0.3s ease;
                -o-transition: font-size 0.3s ease, padding-right 0.3s ease, color 0.3s ease;
                -ms-transition: font-size 0.3s ease, padding-right 0.3s ease, color 0.3s ease;

            &:hover {
                color: white;
                font-size: 12pt;
                padding-right: 10px;
                background-color: rgba(255,255,255,.2);
            }
        }
    }

    h1 {
        font-size: 36pt;
        color: white;
        margin-top: 55px;
        margin-bottom: 0;
    }
    h2 {
        font-weight: 600;
        font-size: 20pt;
        color: white;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .colorPreview {
        border-color: rgb(223, 223, 223);
        border-style: solid;
        border-width: 1px;
        float: right;
        padding-top: 9px;
        padding-bottom: 9px;
        color: rgba(0,0,0,0);
        border-radius: 10px;
        width: 60px;
    }
}

