@import 'editor.scss';
@import 'navbar.scss';
@import 'sidebar.scss';

@import 'alerts/alerts.scss';
@import 'alerts/editTabsUI.scss';
@import 'alerts/editBannerUI.scss';

@import 'hideEditUI.scss';

html {
    --body-bg-color: #f8f9fa;
    --sidebarTableCellBg: rgba(0,0,0,.03);
}

body {
    background-color: var(--body-bg-color);
}