@import 'editor.scss';
@import 'navbar.scss';
@import 'sidebar.scss';

@import 'alerts/alerts.scss';
@import 'alerts/editTabsUI.scss';
@import 'alerts/addViewUI.scss';
@import 'alerts/markdownView';

@import 'hideEditUI.scss';

html {
    --body-bg-color: #f8f9fa;
    --dark-ui-color: rgb(236,236,236);
    --darker-ui-color: rgba(0,0,0,.2);
    --sidebarTableCellBg: rgba(0,0,0,.03);
    --editor-border-color: rgb(223, 223, 223);

    --addViewUI-preview-bg: #EDEDED;
    --addViewUI-preview-box: #FFFFFF;
}
.darkMode {
    --body-bg-color: #1e1e1f;
    --dark-ui-color: rgb(29,29,29);
    --darker-ui-color: rgba(0,0,0,.4);
    --sidebarTableCellBg: rgba(0,0,0,.08);
    --editor-border-color: #262629;

    --addViewUI-preview-bg: #1e1e1f;
    --addViewUI-preview-box: #383838;
}

body {
    background-color: var(--body-bg-color);
}

// Text Form Elements
input[type=text] {
    border-color: rgb(223, 223, 223);
    border-style: solid;
    border-width: 1px;
    font-size: 12pt;
    background-color: rgba(0,0,0,.1);
    outline: none !important;
    display: block;
    text-align: left;
    box-shadow: none;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    width: calc(100% - 70px);
}