// Switch page for alert window
@keyframes switchAlertPage {
    50% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }
    51% {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    to {
        transform: translate(0, -50%);
        opacity: 1;
    }
}
.switchAlertPage {
    animation: switchAlertPage 0.6s ease !important;
}

// Main Alert Window
#alertContainer {
    display: table-row;
    width: calc(100% - 45px);
    height: 100%;

    #alertInnerContainer {
        width: 100%;
        height: 100%;
        position: relative;
        color: var(--text-color);
        background-color: var(--bg-color);
        padding: 14px;
        box-sizing: border-box;
        border-radius: 15px;
        overflow: hidden;
    }
}
#alertButtonContainer {
    display: table-row;
    height: 70px;
}

// Alert Buttons
.alertButton {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    margin-top: 40px;
    width: calc(50% - 40px);
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 12pt;
    color: rgb(90,129,186);
    background-color: var(--bg-color);

    &::hover {
        opacity: .85;
    }

    &.cancelButton {
        background-color: #fe504f;
        left: calc(50% + 15px);
        color: white;
    }
}

#alertWindow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow-y: auto;
    max-height: calc(100% - 24px);
    width: calc(100% - 14px);
    padding-right: 8px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: var(--scrollbar-color);
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-track-color);
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-track-hover-color);
    }

    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 18pt;
    }

    h1, h2, h3, p, .alertError, .optionWrapper input, .checkmark, .tooltip, .optionWrapper, .alertContent, input[type=text], .tabEditorCell {
        color: var(--text-color);
        margin: 8px auto;
        max-width: 600px;
        text-align: center;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .alertError {
        border-radius: 10px;
        margin-bottom: 15px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ed4040;
        color: white;
    }

    // Form Elements 
    .optionWrapper {
        position: relative;
        height: 50px;
        line-height: 50px;
        width: calc(50% - 20px);
        box-sizing: border-box;
        background-color: var(--darker-ui-color);
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 12px;
        margin-left: 6px;
        margin-right: 6px;
        border-color: rgba(0,0,0,0);
        border-width: 2px;
        border-style: dashed;
        transition: border-color 0.25s ease, border-radius 0.15s ease;
            -webkit-transition: border-color 0.25s ease, border-radius 0.15s ease;
            -moz-transition: border-color 0.25s ease, border-radius 0.15s ease;
            -o-transition: border-color 0.25s ease, border-radius 0.15s ease;
            -ms-transition: border-color 0.25s ease, border-radius 0.15s ease;

        input[type=text] {
            background: none !important;
            width: 100% !important;
            height: 100% !important;
            margin-top: 0 !important;
        }

        .tooltip {
            color: white;
            width: calc(100% + 4px);
            box-sizing: border-box;
            padding: 16px 8px;
            border-radius: 10px 10px 0 0;
            background-color: var(--tint-color);
            line-height: normal;
            position: absolute;
            top: -8px;
            left: -2px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-25%);
            transition: transform 0.15s ease, opacity 0.25s ease;
                -webkit-transition: transform 0.15s ease, opacity 0.25s ease;
                -moz-transition: transform 0.15s ease, opacity 0.25s ease;
                -o-transition: transform 0.15s ease, opacity 0.25s ease;
                -ms-transition: transform 0.15s ease, opacity 0.25s ease;
        }

        &:hover {
            border-color: var(--tint-color);
            border-radius: 0 0 10px 10px;

            .tooltip {
                visibility: visible;
                transform: translateY(-100%);
                opacity: 1;
            }
        }
    }
}
