// Class Added to body to toggle alert
.alertVisible {
    #alertWindow {
        animation: popAlert 0.6s ease;
    }
    #everythingWrapper {
        filter: blur(4px);
    }
    #alertContainer {
        display: inline;
        opacity: 1;
    }
}

// Pop animation for alert window
@keyframes popAlert {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    60% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    75% {
        transform: translate(-50%, -50%) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

// Switch page for alert window
@keyframes switchAlertPage {
    50% {
        transform: translate(-150%, -50%) scale(0);
        opacity: 0;
    }
    51% {
        transform: translate(50%, -50%) scale(0);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
.switchAlertPage {
    animation: switchAlertPage 0.6s ease !important;
}

// Black Background behind Alert
#alertContainer {
    overflow: hidden;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    transition: opacity 0.35s ease;
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    -ms-transition: opacity 0.35s ease;
}

// Main Alert Window
#alertWindow {
    width: calc(100% - 20px);
    max-width: 1000px;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #alertHeader {
        font-size: 24pt;
        margin-top: 0;
        margin-bottom: 5px;
    }
    #alertSubheader {
        margin-top: 0;
        font-size: 16pt;
    }
    * {
        margin: 8px auto;
        max-width: 600px;
        text-align: center;
    }
    #alertButton {
        cursor: pointer;
        margin-top: 40px;
        max-width: 300px;
        width: 100%;
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 14px;
        font-weight: 600;
        font-size: 11pt;
        color: white;
        background-color: var(--tint-color);
    }
    #alertButton:hover {
        opacity: .85;
    }
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .alertError {
        border-radius: 10px;
        margin-bottom: 15px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ed4040;
        color: white;
    }

    input[type=text] {
        height: 50px;
        width: calc(100% - 25px);
        box-sizing: border-box;
    }
    // Font Color Input Box
    .fontColor {
        padding: 0 20px !important;
        width: calc(50% - 20px) !important;
        position: relative !important;
        display: inline-block !important;
        margin-bottom: 12px !important;
        margin-left: 6px !important;
        margin-right: 6px !important;
        margin-top: 8px !important;
        text-align: center !important;
    }


    // Form Elements 
    .optionWrapper {
        position: relative;
        height: 50px;
        line-height: 50px;
        width: calc(50% - 20px);
        box-sizing: border-box;
        background-color: var(--dark-ui-color);
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 12px;
        margin-left: 6px;
        margin-right: 6px;
        border-color: rgba(0,0,0,0);
        border-width: 2px;
        border-style: dashed;
        transition: border-color 0.25s ease, border-radius 0.15s ease;
            -webkit-transition: border-color 0.25s ease, border-radius 0.15s ease;
            -moz-transition: border-color 0.25s ease, border-radius 0.15s ease;
            -o-transition: border-color 0.25s ease, border-radius 0.15s ease;
            -ms-transition: border-color 0.25s ease, border-radius 0.15s ease;

        .tooltip {
            color: white;
            width: calc(100% + 4px);
            box-sizing: border-box;
            padding: 16px 8px;
            border-radius: 10px 10px 0 0;
            background-color: var(--tint-color);
            line-height: normal;
            position: absolute;
            top: -8px;
            left: -2px;
            opacity: 0;
            visibility: hidden;
            transition: transform 0.15s ease, opacity 0.35s ease;
                -webkit-transition: transform 0.15s ease, opacity 0.35s ease;
                -moz-transition: transform 0.15s ease, opacity 0.35s ease;
                -o-transition: transform 0.15s ease, opacity 0.35s ease;
                -ms-transition: transform 0.15s ease, opacity 0.35s ease;
        }
        &:hover {
            border-color: var(--tint-color);
            border-radius: 0 0 10px 10px;

            .tooltip {
                visibility: visible;
                transform: translateY(-100%);
                opacity: 1;
            }
        }

        .checkboxWrapper {
            padding: 10px;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding-left: 35px;
            padding-right: 35px;

            // Hide the browser's default checkbox 
            input[type=checkbox] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            // Create a custom checkbox
            .checkmark {
                border-width: 1px;
                border-color: var(--tint-color);
                border-style: solid;
                overflow: hidden;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
            }

            // When checkbox is ticked
            input:checked ~ .checkmark {
                background-color: var(--tint-color);
            }
            // Checkbox tick
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
            input:checked ~ .checkmark:after {
                display: block;
            }
        }
    }

}
