#alertWindow {
    // Markdown Editor
    #editDepictionMarkdownView {
        max-width: 800px;
        margin: 0 auto;

        * {
            border: none !important;
        }
        .CodeMirror {
            min-height: 120px;
            height: auto;
        }
        .CodeMirror-scroll {
            min-height: 120px;
        }
        .CodeMirror-cursor {
            border-left: 1px solid var(--text-color) !important;
        }
        .editor-toolbar, .CodeMirror, .editor-statusbar {
            margin-top: 0;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.1);
            box-sizing: border-box;
            border-radius: 10px;
        }
        .editor-preview, .editor-preview-side {
            background-color: var(--dark-ui-color);
        }
        .editor-toolbar a {
            margin-top: 25px;
            transform: translateY(-50%);
        }
        .editor-toolbar, .editor-statusbar {
            text-align: center;
            height: 50px;
            line-height: 0;
            max-height: 50px;
        }
        .editor-statusbar {
            padding: 0;
            margin-top: 10px;
            height: 50px;
            line-height: 50px;
            span {
                text-transform: capitalize;
                margin-top: 0;
                font-size: 12pt;
            }
        }
        .editor-toolbar:before  {
            margin: 0 !important;
        }
        .CodeMirror {
            padding: 20px;
            margin-top: 10px;
        }
    }
}

.darkMode .editor-toolbar a {
    filter: invert(1);
}